{% load static %}

<link rel="stylesheet" href="{% static 'pedidos/css/detalhe-pedido.css' %}">

<div class="modal modal-popup fade" id="modalDetalhePedido" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalhes do Pedido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="text-secondary mb-3">
            Pedido <strong class="text-white">#<span id="verPedidoId"></span></strong>
        </p>
        <div class="table-responsive">
            <table class="table table-sm mb-0">
            <thead>
                <tr>
                <th class="text-start">Produto</th>
                <th class="text-center">Qtd</th>
                <th class="text-end">Preço Unit.</th>
                <th class="text-end d-none d-sm-table-cell">Subtotal</th>
                </tr>
            </thead>
            <tbody id="verPedidoItens"></tbody>
            <tfoot>
                <tr>
                    <td colspan="2" class="text-end fw-bold text-white">Total:</td>
                    <td colspan="1" class="text-center fw-bold text-white d-none d-sm-table-cell"></td>
                    <td class="text-end fw-bold text-white">
                    R$ <span id="verPedidoTotal"></span>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-acao" data-bs-dismiss="modal">Voltar</button>
      </div>
    </div>
  </div>
</div>