.foot {
    margin: 20px;
     color: var(--cor-02);

    & h2 {
        font-size: 1.2rem;
    }

    & h3 {
        font-size: 0.9rem;
    }

    & p, li {
        font-size: 0.9rem;
    }
}

.integrante-foot {
    min-width: 250px; 
}