.foot {
    margin: 20px;
     color: var(--cor-02);

    & h2 {
        font-size: 1.1rem;
    }

    & p, li {
        font-size: 0.9rem;
    }
}

.img-foot, img {
    width: 35px;
    height: auto;
}