@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0px;
}

:root {
    --cor-01:#fff;
    --cor-02:#fff;
    --cor-03:#fff;
    --cor-04:#fff;
    --cor-05:#fff;

}