@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0px;
}

:root {
    --cor-01:#3F334D;
    --cor-02:#D6EEFF;
    --cor-03:#C7E6FC;
    --cor-04:#000;
    --cor-05:#fff;

}

body {
    background-color: var(--cor-01);
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.box-auth {
    background-color: var(--cor-02);
    overflow: hidden;
    border-radius: 15px;
    width: 100%;
    max-width: 750px;
    min-height: 480px; 
}