@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

section {
    background-color: lightblue;
    padding: 30px;
    margin: 15px;
    scroll-margin-top: 60px;
}
