@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
}

body {
    background-color: #3f334d;
    overflow-x: hidden;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

section {
    background-color: #3f334d;
    padding-top: 10px;
    margin-top: 25px;
    scroll-margin-top: 60px;
    color: #d6eeff;
}

/*=========================================== Sobre ===========================================*/
#sobre {

    & p {
        max-width: 750px;
        padding-bottom: 0px;
    }

    & #img-sobre {
        width: 100%;       
        max-width: 500px;
        display: block;
        margin: 10px auto;
    }

    & .texto-sobre {
        padding-right: 50px;
    }

    & .texto-sobre > p {
        text-align: justify;
    }

    .cards-sobre {
        padding: 10px 50px;
        margin-top: 30px;
    }
}

/*=========================================== Produtos ===========================================*/
#produtos {
    padding: 25px 50px;
}

/*Define o tamanho da imagem do produto*/
.card-img-top {
    width: 50px;
    margin: 5px 10px;
}

/*Efeito de sombreamento quando passa o mouse por cima dos produtos*/
.card:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease;
    cursor: pointer;
}

/*=========================================== Contato ===========================================*/
#contato {
    margin-bottom: 50px;
}

form {
    width: 100%;
    max-width: 400px;
    background-color: black;
    padding: 20px;
    border-radius: 5px;
}

#form_mensagem {
    height: 150px;
    resize: none;
}

.contato_img {
    width: 80px;
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.contato_img img {
    width: 100%;
}

.contato_img:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease;
}