<div class="modal fade" id="modalBtnCarrinho" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="bi bi-cart3"></i> Carrinho</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div id="listaCarrinho"></div>
      </div>
      <div class="modal-footer justify-content-between">
        <strong>Total: <span id="totalCarrinho">R$ 0,00</span></strong>
        <div class="d-flex gap-2">
          <button type="button" class="btn btn-acao" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn pulse-alert btn-acao">Finalizar pedido</button>
        </div>
      </div>
    </div>
  </div>
</div>