{% load static %}
<link rel="stylesheet" href="{% static 'produtos/css/modals.css'%}">

<div class="modal fade" id="modalVerProdutoPedido" tabindex="-1">
  <div class="modal-dialog mx-auto mt-3 mb-3">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Produto: <strong><span id="verProdutoPedidoNome"></span></strong> </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row modal-ver-produto">
            <div class="col-4">
                <img src="{% static 'img/icon-servidor.png' %}" class="img-fluid" alt="...">
            </div>
            <div class="col-8">
                <h2 id="verProdutoPedidoNomeTitulo"></h2>
                <p id="verProdutoPedidoDescricao"></p>
                <div>
                    <span class="fw-bold">Valor Unitário:</span>
                    <span id="verProdutoPedidoPreco"></span>
                </div>
                <div class="quantidade-counter mt-3">
                    <span class="fw-bold">Qtd</span>
                    <button class="btn-qty fw-bold" onclick="alterarQty(-1)">−</button>
                    <span id="qtyValor">1</span>
                    <button class="btn-qty fw-bold" onclick="alterarQty(1)">+</button>
                </div>
            </div>
        </div>
    </div>
      <div class="modal-footer mt-3">
        <div class="text-end"><button type="button" class="btn btn-acao" data-bs-dismiss="modal">Voltar</button></div>
        <div class="text-end"><button type="button" class="btn pulse-alert btn-acao" data-bs-dismiss="modal">Adicionar ao carrinho</button></div>
      </div>
    </div>
  </div>
</div>