<div class="modal fade" id="modalVerProduto" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Exibindo produto: <strong><span id="verProdutoNome"></span></strong> </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><strong>ID:</strong> <span id="verProdutoId"></span></p>
        <p><strong>Quantidade:</strong> <span id="verProdutoQtd"></span></p>
        <p><strong>Descrição:</strong> <span id="verProdutoDescricao"></span></p>
        <p><strong>Preço:</strong> R$ <span id="verProdutoPreco"></span></p>
      </div>
      <div class="modal-footer">
        <div class="text-end"><button type="button" class="btn btn-acao" data-bs-dismiss="modal">Close</button></div>
      </div>
    </div>
  </div>
</div>