.tabela-container {
    background-color: var(--cor-01);
    height: auto;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: clip;

    border: 1px solid var(--cor-02);
    border-radius: 10px;

    scrollbar-color: var(--cor-02) var(--cor-01);
    scrollbar-width: thin;
}

thead th {
    position: sticky;
    background-color: var(--cor-01);
    box-shadow: inset 0 -1px 0 var(--cor-02);
}

table {
    border-collapse: collapse;
    background-color: var(--cor-01);
    color: var(--cor-02);
}

h2, p {
    color: var(--cor-02);
}

.pedido {
    border: 1px solid var(--cor-02);
    border-radius: 10px;

    color: var(--cor-02);
}

.btn-ver-detalhes {
    background-color: var(--cor-01);
    border: 1px solid var(--cor-02);
    color: var(--cor-02);
    border-radius: 10px;
}

.btn-ver-detalhes:hover {
    background-color: var(--cor-02);
    color: var(--cor-01);

    transition: ease-in-out 0.3s;
}

.gaveta-itens table {
    background-color: transparent;
}

.destaque-gaveta {
    background-color: #272030;
}

.gaveta-itens thead th {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid var(--cor-02) !important;
}

.table-pedidos {
    border-collapse: collapse;
}

.linha-pedido {
    cursor: pointer;
}

.gaveta-itens h6 {
    color: var(--cor-02);
}

.gaveta-itens th.border-bottom,
.gaveta-acoes.border-top {
    border-color: rgba(214, 238, 255, 0.2) !important;
}