{% extends "base.html" %}
{% load static %}


{% block nav_links %}
<!-- Alteração na barra de navegação, deixando somente um link para voltar a página principal -->
<li class="nav-item">
    <a href="{% url 'index' %}" class="nav-link">Voltar ao site principal</a>
</li>
{% endblock nav_links %}

<!-- Sessão responsável por apresentar os produtos ao cliente -->
{% block content %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/global.css' %}">
<link rel="stylesheet" href="{% static 'css/produtos.css' %}">

<section>
     <div class="container-fluid text-center">
        <h1>Nossas Categorias de Produtos</h1>
        <p>Oferecemos as melhores marcas e tecnologias do mercado para atender todas as necessidades da sua empresa.</p>
    </div>

    <div class="row g-4 justify-content-center">
        <!--======================================Loop de Produtos ======================================-->
        {% for produto in produtos|slice:":6" %}
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img src="{% static 'img/icon-servidor.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title py-2">{{ produto.nome }}</h5>
                    <p class="card-text">{{ produto.descricao }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    <!-- Botão para acessar a página de produtos - somente cliente -->
</section>
{% endblock content %}