{% extends "base.html" %}
{% load static %}


{% block nav_links %}
<!-- Alteração na barra de navegação, deixando somente um link para voltar a página principal -->
<li class="nav-item">
    <a href="{% url 'index' %}" class="nav-link link-redirect"><i class="bi bi-house"></i> Página Inicial</a>
</li>
<li class="nav-item">
    <a href="{% url 'pedidos:pedidos' %}" class="nav-link link-redirect"><i class="bi bi-clipboard-check"></i> Meus Pedidos</a>
</li>
{% endblock nav_links %}

<!-- Sessão responsável por apresentar os produtos ao cliente -->
{% block content %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/global.css' %}">
<link rel="stylesheet" href="{% static 'produtos/css/produtos.css' %}">

<!--Caixa de pesquisa de produtos-->
<div class="d-flex justify-content-center mt-3">
    <div class="box-pesquisa form-floating mb-3 mt-3">
        <input type="search" class="form-control" id="floatingSearch"
               placeholder="O que você procura?"
               value="{{ query }}"
               autocomplete="off">
        <label for="floatingSearch">O que você procura?</label>
    </div>
</div>

<div id="pesquisa-resultados">
    {% include "produtos/partials/lista-produtos.html" %}
</div>

<!--Carrinho-->
<a class="btn-carrinho" id="btnCarrinho" data-bs-toggle="modal" data-bs-target="#modalBtnCarrinho">
  <i class="bi bi-cart3"></i>
  <span class="badge pulse-alert" id="badgeCarrinho">0</span>
</a>

{% include "produtos/modals/modal-btn-carrinho.html" %}
{% include "produtos/modals/modal-ver-produto.html" %}

<script src="{% static 'produtos/js/pesquisar-produto.js' %}"></script>
<script src="{% static 'produtos/js/btn-carrinho.js' %}"></script>
<script src="{% static 'produtos/js/ver-produto.js' %}"></script>

{% endblock content %}

{% block footer %}
{% endblock footer %}