{% extends "base.html" %}
{% load static %}


{% block nav_links %}
<!-- Alteração na barra de navegação, deixando somente um link para voltar a página principal -->
<li class="nav-item">
    <a href="{% url 'index' %}" class="nav-link link-redirect">Voltar ao site principal</a>
</li>
{% endblock nav_links %}

<!-- Sessão responsável por apresentar os produtos ao cliente -->
{% block content %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/global.css' %}">
<link rel="stylesheet" href="{% static 'css/produtos.css' %}">

<div class="row g-4 justify-content-center mt-3">
    <!--======================================Loop de Produtos ======================================-->
    {% for produto in produtos|slice:":12" %}
    <div class="col-12 col-sm-6 col-md-3 mx-1 my-2">
        <div class="card">
            <img src="{% static 'img/icon-servidor.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title py-2">{{ produto.nome }}</h5>
                <p class="card-text">{{ produto.descricao }}</p>
            </div>
        </div>
    </div>
    {% endfor %}

<a class="btn-carrinho" id="btnCarrinho" data-bs-toggle="modal" data-bs-target="#modalBtnCarrinho">
  <i class="bi bi-cart3"></i>
  <span class="badge pulse-alert" id="badgeCarrinho">0</span>
</a>

{% include "produtos/modals/modal-btn-carrinho.html" %}

{% endblock content %}

{% block footer %}
{% endblock footer %}