.box-alteracao {
    color: var(--cor-01);
    background-color: var(--cor-02);
    border-radius: 15px;
    overflow: visible;
    height: 100%;
}

#box-alteracao {
    max-height: 300px;
}

.table-responsive {
    overflow-x: auto;
}
.row {
    gap: 4rem;
}

.box-alteracao thead th {
    text-align: center;
    color: var(--cor-02);
    background-color: var(--cor-01);
}

.box-tabela tbody {
    display: block;
    max-height: 350px;
    overflow-y: auto;
}

.box-tabela thead,
.box-tabela tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

th, td {
    text-align: center;
}

.btn-acao {
    background-color: var(--cor-01);
    color: var(--cor-02);
}

.btn-acao:hover {
    border-color: var(--cor-01);
    background-color: var(--cor-02);
}