<!doctype html>
<html lang="pt-br">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'app_distribuidora/css/base.css' %}">
    <link rel="icon" href="data:,">
</head>



<body>

    <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Fahan Distribuidora Tech</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link active" aria-current="page" href="#inicio">Início</a>
                    <a class="nav-link" href="#produtos">Produtos</a>
                    <a class="nav-link" href="#sobre">Sobre</a>
                    <a class="nav-link" href="#contato">Contato</a>
                </div>
            </div>
        </div>
    </nav>

    {% block content %} {% endblock content %}

    <footer class="container-fluid">
        <div class="foot row g-4 justify-content-center">
            <!--==================Sobre==================-->
            <div class="container-fluid col-12 col-sm-6 col-md-4">
                <div class="cont-foot">
                    <h2>Fahan Distribuidora Tech</h2>
                    <p>Sua distribuidora de confiança em tecnologia da informação com as melhores soluções para empresas de todos os portes.</p>
                </div>
            </div>
            <!--==================Produtos==================-->
            <div class="container-fluid col-12 col-sm-6 col-md-4">
                <div class="cont-foot">
                    <h2>Fahan Distribuidora Tech</h2>
                    <p>Sua distribuidora de confiança em tecnologia da informação com as melhores soluções para empresas
                        de todos os portes.</p>
                </div>
            </div>
        </div>
        <div class="foot row g-4 justify-content-center">
            <!--==================Empresa==================-->
            <div class="container-fluid col-12 col-sm-6 col-md-4">
                <div class="cont-foot">
                    <h2>Empresa</h2>
                    <ul>
                        <li>Sobre nós</li>
                        <li>Trabalhe conosco</li>
                        <li>Blog</li>
                        <li>Parceiros</li>
                        <li>Políticas</li>
                    </ul>
                </div>
            </div>
            <!--==================Redes sociais==================-->
            <div class="container-fluid col-12 col-sm-6 col-md-4">
                <div class="cont-foot">
                    <h2>Redes sociais</h2>
                </div>
            </div>
        </div>
        <div class="foot row">
            <hr>
            <div class="container-fluid text-center">
                <p>2026 Fahan Distribuidora Tech. Todos os direitos reservados.</p>
                <p>Projeto Integrador para o Curso Técnico em Informática - EETEPA Deodoro de Mendonça</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>



</html>