<!doctype html>
<html lang="pt-br">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FAHAN Distribuidora Tech</title>
    <link rel="stylesheet" href="{% static 'app_distribuidora/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'app_distribuidora/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'app_distribuidora/css/base.css' %}">
    <link rel="icon" href="data:,">
    <script src="{% static 'app_distribuidora/js/bootstrap.bundle.min.js' %}"></script>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">FAHAN Distribuidora Tech</a>

            <!-- Botão hambúrguer na versão mobile -->
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#menuPrincipal" aria-controls="menuPrincipal" aria-expanded="false"
                aria-label="Abrir menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Conteúdo responsivo a tela -->
            <div class="collapse navbar-collapse" id="menuPrincipal">

                <!-- Links redirecionáveis para cada sessão da página -->
                <ul class="navbar-nav gap-2 mx-auto position-lg-absolute start-lg-50 translate-lg-middle-x">
                    <li class="nav-item">
                        <a class="nav-link" href="#inicio">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#produtos">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sobre">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contato">Contato</a>
                    </li>
                </ul>

                <!--Links redirecionáveis para login e/ou cadastro-->
                <ul class="navbar-nav flex-lg-row gap-2 ms-lg-auto">
                    <!--Abaixo, somente links que aparecem em telas pequenas dentro do menu hambúrguer-->
                    <li class="nav-item d-lg-none">
                        <a class="nav-link" href="#acesso">Login</a>
                    </li>
                    <li class="nav-item d-lg-none">
                        <a class="nav-link" href="#acesso">Cadastre-se</a>
                    </li>

                    <!--Abaixo, somente links que aparecem em telas grandes-->
                    <li class="nav-item d-none d-lg-block">
                        <a class="nav-link" href="#login">Login</a>
                    </li>
                    <li class="nav-item d-none d-lg-block">
                        <a class="nav-link" href="#cadastro">Cadastre-se</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Conteúdo principal, definido no index.html-->
    {% block content %}{% endblock content %}

    <footer>
        <div class="foot row g-4 justify-content-center">
            <!-- Sobre -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="cont-foot">
                    <h2>FAHAN Distribuidora Tech</h2>
                    <p>Sua distribuidora de confiança em tecnologia da informação com as melhores soluções para empresas
                        de todos os portes.</p>
                </div>
            </div>

            <!-- Produtos -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="cont-foot">
                    <h2>Produtos</h2>
                    <p>Sua distribuidora de confiança em tecnologia da informação com as melhores soluções para empresas
                        de todos os portes.</p>
                </div>
            </div>

            <!-- Empresa -->
            <div class="col-12 col-sm-6 col-lg-2">
                <div class="cont-foot">
                    <h2>Empresa</h2>
                    <ul class="list-unstyled">
                        <li>Sobre nós</li>
                        <li>Trabalhe conosco</li>
                        <li>Blog</li>
                        <li>Parceiros</li>
                        <li>Políticas</li>
                    </ul>
                </div>
            </div>

            <!-- Redes Sociais -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="cont-foot">
                    <h2>Redes sociais</h2>
                    <div class="img-foot d-flex gap-3">
                        <a href="https://www.facebook.com/?locale=pt_BR" target="_blank">
                            <img src="{% static 'app_distribuidora/img/icon-facebook.png' %}" alt="Facebook">
                        </a>
                        <a href="https://www.instagram.com/" target="_blank">
                            <img src="{% static 'app_distribuidora/img/icon-instagram.png' %}" alt="Instagram">
                        </a>
                        <a href="https://github.com/" target="_blank">
                            <img src="{% static 'app_distribuidora/img/icon-github.png' %}" alt="GitHub">
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="foot row">
            <hr>
            <div class="credits text-center">
                <p>&copy; 2026 Fahan Distribuidora Tech. Todos os direitos reservados.</p>
                <p>Projeto Integrador para o Curso Técnico em Informática - EETEPA Deodoro de Mendonça</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">
        </script>

</body>

</html>