{% extends "app_distribuidora/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'app_distribuidora/css/index.css' %}">
<title>Fahan</title>
<!--Sessão início-->
<section id="inicio" class="container-fluid">
    <div>
        <h1>Soluções Completas em TI para você!</h1>
        <p>Distribuidora líder em tecnologia com os melhores produtos, preços que cabem no seu bolso com a entrega mais
            rápida de todo o Brasil.</p>
        <ul class="container-fluid">
            <li>Mais de 5.000 produtos em estoque</li>
            <li>Saída de material em até 24 horas</li>
            <li>Suporte técnico especializado</li>
        </ul>
    </div>
    <div id="img_inicio" class="container-fluid"></div>
</section>

<section id="produtos" class="container-fluid">
    <div class="container-fluid text-center">
        <h1>Nossas Categorias de Produtos</h1>
        <p>Oferecemos as melhores marcas e tecnologias do mercado para atender todas as necessidades da sua empresa.</p>
    </div>
    <!--1º produto-->
    <div class="row g-4 justify-content-center">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Servidores</h5>
                    <p class="card-text">Servidores de alta perfomance para todos os tipos de projetos.</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Ver produto</a>
                </div>
            </div>
        </div>
        <!--2º produto-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Servidores</h5>
                    <p class="card-text">Servidores de alta perfomance para todos os tipos de projetos.</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Ver produto</a>
                </div>
            </div>
        </div>
        <!--3º Produto-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Servidores</h5>
                    <p class="card-text">Servidores de alta perfomance para todos os tipos de projetos.</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Ver produto</a>
                </div>
            </div>
        </div>
        <!--4º Produto-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Servidores</h5>
                    <p class="card-text">Servidores de alta perfomance para todos os tipos de projetos.</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Ver produto</a>
                </div>
            </div>
        </div>
        <!--5º Produto-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Servidores</h5>
                    <p class="card-text">Servidores de alta perfomance para todos os tipos de projetos.</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Ver produto</a>
                </div>
            </div>
        </div>
        <!--6º Produto-->
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Servidores</h5>
                    <p class="card-text">Servidores de alta perfomance para todos os tipos de projetos.</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Ver produto</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Sessão sobre-->
<section id="sobre" class="container-fluid">
    <h1>Section</h1>
</section>

<!--Sessão contato-->
<section id="contato" class="container-fluid">
    <h1>Section</h1>
</section>

{% endblock content %}