<title>Fahan - Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />

{% load static %}
<link rel="stylesheet" href="{% static 'app_distribuidora/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'app_distribuidora/css/global.css' %}" />
<link rel="stylesheet" href="{% static 'app_distribuidora/css/login.css' %}" />

<!-- ================================ Página Login ================================   -->
<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <div class="box-auth row g-0 shadow">

        <!-- Formulário -->
        <form id="formLogin" action="{% url 'login' %}" method="POST" class="col-12 col-sm-6 col-lg-5 p-4">{% csrf_token %}
            <div class="mb-2">
                <h1>Login</h1>
                <label class="form-label">Usuário</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Digite seu usuário">
            </div>
            <div class="mb-2">
                <label class="form-label">Senha</label>
                <input type="password" class="form-control" name="senha" id="senha" placeholder="Digite sua senha">
            </div>
            <p class="text-center mb-4 mt-4">Não tem uma conta? <a href="{% url 'register' %}">Registre-se</a></p>
            {% if erro %}
                <div class="alert alert-danger py-1">{{ erro }}</div>
            {% endif %}
            <button type="submit" class="btn btn-primary d-grid gap-2 col-8 mx-auto mt-5">Entrar</button>
        </form>
        <div class="img-login col-12 col-sm-6 col-lg-7">
            <img src="{% static 'app_distribuidora/img/img-login.jpg' %}" alt="imagem inicio">
        </div>
    </div>
</div>

<script src="{% static 'app_distribuidora/js/login.js' %}"></script>
<!-- <a href="{% url 'index' %}" class="btn-voltar shadow">&#8592; Voltar</a> -->