<title>Fahan - Login</title>

{% load static %}
<link rel="stylesheet" href="{% static 'app_distribuidora/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'app_distribuidora/css/global.css' %}" />
<link rel="stylesheet" href="{% static 'app_distribuidora/css/login.css' %}" />

<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <div class="box-login row g-0 shadow">
        <form class="col-12 col-sm-6 col-lg-5 p-4">
            <div class="mb-3">
                <h1>Login</h1>
                <label for="exampleInputEmail1" class="form-label">Endereço de Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Senha</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Lembrar Senha</label>
            </div>
            <p class="text-center mb-4">Não tem uma conta? <a href="{% url 'register' %}">Registre-se</a></p>
            <button type="submit" class="btn btn-primary d-grid gap-2 col-8 mx-auto">Submit</button>
        </form>
        <div class="img-login col-12 col-sm-6 col-lg-7">
            <img src="{% static 'app_distribuidora/img/img-login.jpg' %}" alt="imagem inicio">
        </div>
    </div>
</div>