{% extends "base.html" %}
{% load static %}

{% block nav_links %}
  <li class="nav-item">
    <a class="nav-link link-redirect {% if aba == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}">
      <i class="bi bi-bar-chart"></i> Dashboard
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-redirect {% if aba == 'produtos' %}active{% endif %}" href="{% url 'painel_produtos' %}">
      <i class="bi bi-box-seam"></i> Produtos
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-redirect {% if aba == 'pedidos' %}active{% endif %}" href="{% url 'painel_pedidos' %}">
      <i class="bi bi-clipboard-check"></i> Pedidos
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-redirect {% if aba == 'clientes' %}active{% endif %}" href="{% url 'painel_clientes' %}">
      <i class="bi bi-person"></i> Clientes
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-redirect {% if aba == 'staffs' %}active{% endif %}" href="{% url 'painel_staffs' %}">
      <i class="bi bi-gear"></i> Staffs
    </a>
  </li>
{% endblock nav_links %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/global.css' %}"/>
<link rel="stylesheet" href="{% static 'dashboard/css/painel-clientes.css' %}"/>

<div class="d-flex justify-content-center mt-4 mb-4">
  <div class="col-11">
    <div class="d-flex flex-column-reverse flex-md-row justify-content-between align-items-center gap-3 mb-4">
      
      <!-- Caixa de pesquisa -->
      <div class="box-pesquisa form-floating flex-grow-1 w-100">
        <input type="search" class="form-control" id="floatingSearch"
               placeholder="Pesquisar produto..."
               value="{{ query }}"
               autocomplete="off">
        <label for="floatingSearch">Pesquise um produto</label>
      </div>

      <!-- Botão Adicionar -->
      <div class="text-end w-100 text-md-end">
        <a class="btn btn-criar-cliente pulse-alert" data-bs-toggle="modal" data-bs-target="#modalAdicionarCliente">
          Adicionar Cliente <i class="bi bi-plus-lg"></i>
        </a>
      </div>

    </div>

    <div id="pesquisa-resultados">
        {% include "dashboard/partials/painel-clientes-resultados.html" %}
    </div>

  </div>
</div>

{% include "dashboard/modals/painel-clientes/modal-adicionar-cliente.html" %}
{% include "dashboard/modals/painel-clientes/modal-excluir-cliente.html" %}
{% include "dashboard/modals/painel-clientes/modal-ver-cliente.html" %}
{% include "dashboard/modals/painel-clientes/modal-editar-cliente.html" %}

<script src="{% static 'dashboard/js/utils.js' %}"></script>
<script src="{% static 'dashboard/js/painel-clientes/funcao-adicionar-cliente.js' %}"></script>
<script src="{% static 'dashboard/js/painel-clientes/funcao-editar-cliente.js' %}"></script>
<script src="{% static 'dashboard/js/painel-clientes/funcao-excluir-cliente.js' %}"></script>
<script src="{% static 'dashboard/js/painel-clientes/funcao-ver-cliente.js' %}"></script>

{% endblock content %}

{% block footer %}
{% endblock footer %}