{% extends "base.html" %}
{% load static %}

{% block nav_links %}
  <li class="nav-item">
    <a class="nav-link link-redirect" href="{% url 'dashboard' %}">
      <i class="bi bi-bar-chart"></i> Dashboard
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-redirect active" href="{% url 'painel_produtos' %}">
      <i class="bi bi-box-seam"></i> Produtos
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-redirect" href="#">
      <i class="bi bi-clipboard-check"></i> Pedidos
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-redirect" href="#">
      <i class="bi bi-person"></i> Clientes
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-redirect" href="#">
      <i class="bi bi-gear"></i> Usuários
    </a>
  </li>
{% endblock nav_links %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/global.css' %}"/>
<link rel="stylesheet" href="{% static 'dashboard/css/painel-produtos.css' %}"/>

<div class="d-flex justify-content-center mt-4 mb-4">
  <div class="col-11">
    <div class="text-end">
      <a class="btn btn-criar-produto mb-3 pulse-alert" data-bs-toggle="modal" data-bs-target="#modalAdicionarProduto">
      Adicionar Produto <i class="bi bi-plus-lg"></i>
    </a>
    </div>

    <div class="d-flex flex-column flex-md-row gap-3">

      <!-- Tabela principal -->
      <div class="flex-grow-1">
        <h6 class="mb-2">Produtos Ativos</h6>
        <div class="tabela-container table-responsive">
          <table class="w-100">
            <thead>
              <tr class="sticky-top">
              <th class="text-center py-2">ID</th>
              <th class="text-center py-2">Nome</th>
              <th class="text-center py-2">Qtd</th>
              <th class="text-center py-2 col-descricao">Descrição</th>
              <th class="text-center py-2 col-preco">Preço</th>
              <th class="text-center py-2">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for produto in produtos_ativos %}
              <tr>
                  <td class="text-center px-2 py-2">{{ produto.id }}</td>
                  <td class="text-center px-2 py-2">{{ produto.nome }}</td>
                  <td class="text-center px-2 py-2">{{ produto.quantidade }}</td>
                  <td class="text-center px-2 py-2 col-descricao">{{ produto.descricao|truncatechars:15 }}</td>
                  <td class="text-center px-2 py-2 col-preco">R$ {{ produto.preco }}</td>
                  <td class="text-center px-2 py-2">
                    <!-- Desktop: botões normais -->
                    <div class="d-none d-md-flex justify-content-center gap-1">
                        <a class="btn btn-sm btn-acao" title="Ver"
                          data-bs-toggle="modal"
                          data-bs-target="#modalVerProduto"
                          data-id="{{ produto.id }}"
                          data-nome="{{ produto.nome }}"
                          data-qtd = "{{ produto.quantidade }}"
                          data-descricao = "{{ produto.descricao }}"
                          data-preco="{{ produto.preco }}">
                          <i class="bi bi-eye"></i> <span>Ver</span>
                        </a>

                        <a class="btn btn-sm btn-acao" title="Editar"
                          data-bs-toggle="modal"
                          data-bs-target="#modalEditarProduto"
                          data-id="{{ produto.id }}"
                          data-nome="{{ produto.nome }}"
                          data-qtd = "{{ produto.quantidade }}"
                          data-descricao = "{{ produto.descricao }}"
                          data-preco="{{ produto.preco }}">
                          <i class="bi bi-pencil"></i> <span>Editar</span>
                        </a>
                        
                        <a class="btn btn-sm btn-acao" title="Excluir"
                            data-bs-toggle="modal"
                            data-bs-target="#modalExcluirProduto"
                            data-id="{{ produto.id }}"
                            data-nome="{{ produto.nome }}">
                            <i class="bi bi-trash"></i> <span>Excluir</span>
                        </a>
                    </div>

                    <!-- Mobile: dropdown -->
                    <div class="d-md-none dropdown">
                        <button class="btn btn-sm btn-acao dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-custom">
                            <li><a class="btn btn-sm btn-acao" title="Ver"
                                data-bs-toggle="modal"
                                data-bs-target="#modalVerProduto"
                                data-id="{{ produto.id }}"
                                data-nome="{{ produto.nome }}"
                                data-qtd = "{{ produto.quantidade }}"
                                data-descricao = "{{ produto.descricao }}"
                                data-preco="{{ produto.preco }}">
                                <i class="bi bi-eye"></i> <span>Ver</span>
                              </a>
                            </li>

                            <li>
                              <a class="btn btn-sm btn-acao" title="Editar"
                                data-bs-toggle="modal"
                                data-bs-target="#modalEditarProduto"
                                data-id="{{ produto.id }}"
                                data-nome="{{ produto.nome }}"
                                data-qtd = "{{ produto.quantidade }}"
                                data-descricao = "{{ produto.descricao }}"
                                data-preco="{{ produto.preco }}">
                                <i class="bi bi-pencil"></i> <span>Editar</span></a>
                            </li>

                            <li>
                                <a class="dropdown-item"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modalExcluirProduto"
                                    data-id="{{ produto.id }}"
                                    data-nome="{{ produto.nome }}">
                                    <i class="bi bi-trash"></i> Excluir
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <!-- Tabela secundária -->
      {% if produtos_inativos %}
      <div style="min-width: 260px;">
        <h6 class="mb-2">Produtos Inativos</h6>
        <div class="tabela-container table-responsive">
          <table class="w-100">
            <thead>
              <tr class="sticky-top">
                <th class="text-center py-2">Nome</th>
                <th class="text-center py-2">Qtd</th>
                <th class="text-center py-2">Ação</th>
              </tr>
            </thead>
            <tbody>
              {% for produto in produtos_inativos %}
              <tr>
                <td class="text-center px-2 py-2">{{ produto.nome }}</td>
                <td class="text-center px-2 py-2">{{ produto.quantidade }}</td>
                <td class="text-center px-2 py-2">
                  <a href="#" class="btn btn-sm btn-acao" onclick="ativarProduto({{ produto.id }})"><i class="bi bi-power"></i> Ativar</a>
                </td>
              </tr>
              {% endfor %}
            </tbody> 
          </table>
        </div>
      </div>
      {% endif %}

    </div>
  </div>
</div>

{% include "dashboard/modals/modal-adicionar-produto.html" %}
{% include "dashboard/modals/modal-excluir-produto.html" %}
{% include "dashboard/modals/modal-ver-produto.html" %}
{% include "dashboard/modals/modal-editar-produto.html" %}

<script src="{% static 'dashboard/js/utils.js' %}"></script>
<script src="{% static 'dashboard/js/funcao-adicionar-produto.js' %}"></script>
<script src="{% static 'dashboard/js/funcao-editar-produto.js' %}"></script>
<script src="{% static 'dashboard/js/funcao-excluir-produto.js' %}"></script>
<script src="{% static 'dashboard/js/funcao-ver-produto.js' %}"></script>

{% endblock content %}

{% block footer %}
{% endblock footer %}