{% extends "base.html" %}
{% load static %}

{% block nav_links %}
  <li class="nav-item">
    <a class="nav-link link-redirect" href="{% url 'dashboard' %}">
      <i class="bi bi-bar-chart"></i> Dashboard
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-redirect active" href="{% url 'painel_produtos' %}">
      <i class="bi bi-box-seam"></i> Produtos
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-redirect" href="#">
      <i class="bi bi-clipboard-check"></i> Pedidos
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-redirect" href="#">
      <i class="bi bi-person"></i> Clientes
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-redirect" href="#">
      <i class="bi bi-gear"></i> Usuários
    </a>
  </li>
{% endblock nav_links %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css/global.css' %}"/>
<link rel="stylesheet" href="{% static 'dashboard/css/painel.css' %}"/>

<h1>Teste</h1>

{% endblock content %}

{% block footer %}
{% endblock footer %}