{% load static %}
<!doctype html>
<html lang="pt-br">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FAHAN Distribuidora Tech</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link rel="icon" href="{% static 'img/flavicon.jpeg' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
  </head>

  <body>
    <div class="toast-container position-fixed" id="toastLogoutContainer"
          style="z-index: 9999; top: 60px; right: 1rem; display: none;">
        <div class="toast align-items-center text-bg-warning border-0 show" role="alert">
          <div class="d-flex">
            <div class="toast-body fw-semibold">
              <i class="bi bi-box-arrow-right me-2"></i>Saindo da conta...
            </div>
          </div>
        </div>
      </div>

    <!-- ================================Barra de navegação ================================-->
    <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">FAHAN Distribuidora Tech</a>

        <!-- Botão hambúrguer na versão mobile -->
        <button
          class="navbar-toggler ms-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#menuPrincipal"
          aria-controls="menuPrincipal"
          aria-expanded="false"
          aria-label="Abrir menu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Conteúdo responsivo a tela -->
        <div class="collapse navbar-collapse" id="menuPrincipal">
          <!-- Links redirecionáveis para cada sessão da página -->
          <ul class="navbar-nav gap-2 mx-auto">
            {% block nav_links %} <!-- Adicionado para alteração singular em outras páginas que não precisem dos links -->
              <li class="nav-item link-redirect">
                <a class="nav-link" href="#inicio">
                  <i class="bi bi-house"></i> Início
                </a>
              </li>
              <li class="nav-item link-redirect">
                <a class="nav-link" href="#produtos">
                  <i class="bi bi-cart"></i> Produtos
                </a>
              </li>
              <li class="nav-item link-redirect">
                <a class="nav-link" href="#sobre">
                  <i class="bi bi-info-circle"></i> Sobre
                </a>
              </li>
              <li class="nav-item link-redirect">
                <a class="nav-link" href="#contato">
                  <i class="bi bi-telephone"></i> Contato
                </a>
              </li>
            {% endblock nav_links %}
          </ul>

          <!-- Menu para usuário e links de redirecionamento para registro e login-->
          <ul class="navbar-nav flex-lg-row gap-2 ms-lg-auto">
            {% if user.is_authenticated %} <!-- Dropdown do usuário atual caso esteja autenticado-->
              <li class="nav-item dropdown ms-lg-auto">  
                <a class="nav-link dropdown-toggle d-flex align-items-center gap-2 px-2 py-1 rounded-pill"
                  href="#" role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">

                  <!-- Avatar com iniciais -->
                  <span class="rounded-circle d-flex align-items-center justify-content-center fw-semibold">
                    {{ user.username|slice:":2"|upper }}
                  </span>
                  {{ user.username }}
                </a>
                

                <ul class="dropdown-menu dropdown-menu-end mt-1 shadow-sm">
                  <!-- Cabeçalho -->
                  <li class="px-3 py-2 border-bottom">
                    <p class="mb-0 fw-semibold small">Olá! {{ user.username }}</p>
                    <p class="mb-0 text-muted" style="font-size:12px;">{{ user.email }}</p>
                  </li>

                  {% if user.is_superuser %}
                    <li>
                      <a class="dropdown-item d-flex align-items-center gap-2" href="{% url 'dashboard' %}">
                        <i class="bi bi-shield-lock"></i> Painel Admin
                      </a>
                    </li>
                  {% endif %}

                  <li>
                    <a class="dropdown-item d-flex align-items-center gap-2" href="#">
                      <i class="bi bi-person"></i> Meu perfil
                    </a>
                  </li>

                  <li>
                    <a class="dropdown-item d-flex align-items-center gap-2" href="{% url 'pedidos:pedidos' %}">
                      <i class="bi bi-clipboard-check"></i> Meus Pedidos
                    </a>
                  </li>

                  <li><hr class="dropdown-divider"></li>

                  <li>
                    <a class="dropdown-item d-flex align-items-center gap-2 text-danger" href="#"
                      onclick="confirmarLogout(event)">
                      <i class="bi bi-box-arrow-right"></i> Sair
                    </a>
                  </li>
                </ul>
              </li>
            {% else %} <!-- Caso não esteja autenticado -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Cadastre-se</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!--Conteúdo principal, definido no index.html-->
    {% block content %}{% endblock content %}

    <!-- ================================ Rodapé ================================-->
    {% block footer %}
      <footer>
        <div class="container-fluid">
          <div class="foot row g-3 justify-content-center">
            <!-- Sobre -->
            <div class="col-12 col-sm-6 col-lg-6">
              <div class="cont-foot">
                <h2>FAHAN Distribuidora Tech</h2>
                <p>
                  Pensado, projetado e desenvolvido por técnicos de informática da
                  EETEPA Deodoro de Mendonça, um grande desafio que foi vencido
                  com uma equipe competente. Agradecemos o Professor Rildo e Bruno
                  pela orientação ao longo desse projeto.
                </p>
              </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-6">
              <h2>Equipe</h2>
              <div class="equipe-foot row g-3">
                <div class="integrante-foot col-12 col-sm-12 col-lg-6">
                  <h3>Adriele da Rocha Paiva - Front-end</h3>
                  <a href="#">instagram</a>
                  <a href="#">linkedin</a>
                  <p>(91) 9 9999-9999</p>
                </div>

                <div class="integrante-foot col-12 col-sm-12 col-lg-6">
                  <h3>Andreia Amaro da Silva - DBA</h3>
                  <a href="#">instagram</a>
                  <a href="#">linkedin</a>
                  <p>(91) 9 9999-9999</p>
                </div>

                <div class="integrante-foot col-12 col-sm-12 col-lg-6">
                  <h3>Maria de Nazaré Santos - Designer</h3>
                  <a href="#">instagram</a>
                  <a href="#">linkedin</a>
                  <p>(91) 9 9999-9999</p>
                </div>

                <div class="integrante-foot col-12 col-sm-12 col-lg-6">
                  <h3>Fábio Kauã Silva - Fullstack</h3>
                  <a href="#">instagram</a>
                  <a href="#">linkedin</a>
                  <p>(91) 9 9999-9999</p>
                </div>

                <div class="integrante-foot col-12 col-sm-12 col-lg-6">
                  <h3>Helionete Ribeiro Rodrigues - Documentadora</h3>
                  <a href="#">instagram</a>
                  <a href="#">linkedin</a>
                  <p>(91) 9 9999-9999</p>
                </div>
              </div>
            </div>
          </div>

          <div class="foot row">
            <hr />
            <div class="credits text-center">
              <p>
                &copy; 2026 Fahan Distribuidora Tech. Todos os direitos
                reservados.
              </p>
              <p>
                Projeto Integrador para o Curso Técnico em Informática - EETEPA
                Deodoro de Mendonça
              </p>
            </div>
          </div>
        </div>
      </footer>
    {% endblock footer %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <script>
      function confirmarLogout(e) {
        e.preventDefault();
        document.getElementById('toastLogoutContainer').style.display = 'block';
        setTimeout(function () {
          window.location.href = "{% url 'logout' %}";
        }, 500);
      }
    </script>

  </body>
</html>
