/*=========================================== Inicio ===========================================*/
#inicio {

    & img {
        width: 100%;
        max-width: 450px;
        padding-right: 38px;
    }
}

@media (max-width: 768px) {
    #inicio {
        padding: 0px 20px;

        & img {
            padding: 0px;
        }
    }

}

/*=========================================== Produtos ===========================================*/
#produtos {
    padding: 25px 50px;
}

.card-img-top {
    width: 50px;
    margin: 5px 10px;
}

.card-produtos {
    min-height: 200px;
}

.card:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease;
    cursor: pointer;
}

.btn-produtos {
    width: 200px;
    margin-top: 15px;
}

.btn-produtos:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease;
    cursor: pointer;
}

/*=========================================== Sobre ===========================================*/
#sobre {

    & p {
        max-width: 750px;
        padding-bottom: 0px;
    }

    & #img-sobre {
        width: 100%;       
        max-width: 500px;
        display: block;
        margin: 10px auto;
    }

    & .texto-sobre {
        padding-right: 50px;
    }

    & .texto-sobre > p {
        text-align: justify;
    }

    .cards-sobre {
        padding: 10px 50px;
        margin-top: 30px;
    }

}

@media (max-width: 768px) {
    #sobre {
        & .texto-sobre > p {
            text-align: center;
        }
    }
    
}

/*=========================================== Contato ===========================================*/
#contato {
    margin-bottom: 50px;
}

form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;

    background-color: var(--cor-02);
    color: var(--cor-01);

    & #btn-form {
        background-color: var(--cor-01);
        color: var(--cor-02);
    }
}

#form_mensagem {
    height: 150px;
    resize: none;
}

.contato_icons {
    width: 80px;
    padding: 5px;
    background-color: var(--cor-02);
    display: flex;
    justify-content: center;
    border-radius: 50%;

    font-size: 3rem;
    transition: 0.2s ease-in-out;
}

.contato_icons i {
    color: var(--cor-01);
}

.contato_icons:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    background-color: var(--cor-01);
}

.contato_icons:hover i {
    color: var(--cor-02);
}