.card {
    min-height: 250px;
}

.card-img-top {
    width: 50px;
    margin: 5px 10px;
}

.card:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease;
    cursor: pointer;
}

.btn-carrinho {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: var(--cor-01);
  color: var(--cor-05);

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  z-index: 1050;

  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.btn-carrinho:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.btn-carrinho .badge {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: .65rem;
  background: var(--cor-02);
  color: var(--cor-01);
}


.btn-acao {
    background-color: transparent;
    border: 1px solid var(--cor-02);
    color: var(--cor-02);
    border-radius: 5px;
}

.btn-acao:hover {
    background-color: var(--cor-02);
    color: var(--cor-01);

    transition: ease-in-out 0.3s;
}

.modal-content {
    background-color: var(--cor-01);
    color: var(--cor-02);
    border: 1px solid var(--cor-02);
}

.modal-header, .modal-footer {
    border-color: var(--cor-02);
}

.modal-header .btn-close {  /* Mudando a cor do botão x do modal*/
    background-image: none !important;
    background-color: var(--cor-02);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E") !important;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E") !important;
    mask-size: 1em !important;
    mask-repeat: no-repeat !important;
    mask-position: center !important;
    opacity: 1 !important;
}

.page-link {
    color: var(--cor-01);
}

.page-item.active .page-link{
    background-color: var(--cor-01);
    border: 1px solid var(--cor-02);
    color: var(--cor-02);
}

@media (min-width: 768px) {
    .box-pesquisa {
        width: 50%;
    }
}